  .chat-message-user{
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .chat-message-robot{
        display:flex;
        align-items: start;;
      }
      .chat-message-text{
        background-color: rgb(233, 230, 230);
        padding: 15px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 300px;
      }
      .chat-message-profile-user{
        width:40px;
        border-radius:60px;
        height:40px;
        object-fit:cover;
      }
      .chat-message-profile{
         width:40px
      }
      .chat-message-time {
  font-size: 14px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}