.send-Button{
        background-color: green;
        color:white;
        padding: 10px 18px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }
      .chat-input{
        padding: 10px 18px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;
        flex-grow : 1;
      }
      .chat-input-container{
        display: flex;
        margin-bottom: 40px;
      }
     .loading-spinner{
        height: 40px;
        margin: -15px;
      
      }
      .clear-button {
        background-color: green;
        color:white;
        padding: 10px 18px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
}